---
version: '3'

services:
  python:
    image: vocabdemy:0.1.0
    container_name: python
    build:
      args:
        - PYTHON_VERSION=${PYTHON_VERSION}
      context: ./app/
      dockerfile: ./Dockerfile
    restart: always
    ports:
      - '8000:8000'
    environment:
      POSTGRES_HOST: ${POSTGRES_HOST}

  postgres:
    image: postgres:14
    hostname: postgres
    container_name: postgres
    ports:
      - '5432:5432'
    environment:
      - POSTGRES_USER=${POSTGRES_USER}
      - POSTGRES_PASSWORD=${POSTGRES_PASSWORD}
      - POSTGRES_DB=${POSTGRES_DB}
